<style>
  body{
    background-color: black;
    width: 100vh;
    height: 100vh;
    font-family: consive;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  cabecalho{
    text-align: center;
    width: 90vw;
    height: 25vh;
    background-color: white;
    color: black;
   width: 45vw;
   height: 40vh;
  }

  segundo{
    text-align: center;
    background-color: white;
    color: black;
    width: 45vh;
  }

  footer{
    ba
  }